---
version: 10
---

// Breakpoints
$mobile-width: 800px;

// Border radius
$border-radius: 3px;

// Fonts
$mono-font-family: "Menlo", "Liberation Mono", "Consolas", "DejaVu Sans Mono", "Ubuntu Mono", "Courier New", "Andale Mono", "Lucida Console", monospace;
$sans-font-family: "Source Sans Pro", sans-serif;

// Link colors
$link-color: #3084bb;
$link-color-hover: #20597e;
$link-code-color: rgb(55, 119, 176);

// Inline code colors
$code-color: #c7254e;
$code-background-color: #f9f2f4;

// Home page colors
$landing-background: #f9f9f9;
$landing-header-background: #34373c;
$topic-border: rgb(215, 215, 215);
$topic-ce-circle-color: rgb(1, 136, 101);
$topic-ce-header-color: rgb(1, 120, 85);
$topic-ee-circle-color: rgb(25, 112, 169);
$topic-ee-header-color: rgb(9, 96, 153);
$topic-omnibus-circle-color: rgb(107, 79, 187);
$topic-omnibus-header-color: rgb(107, 79, 187);
$topic-runner-circle-color: rgb(203, 88, 15);
$topic-runner-header-color: rgb(203, 88, 15);

// Other colors
$toc-bg-color: rgba(244, 247, 248, .7);
$toc-border: rgb(229, 229, 229);
$border-color: #e5e5e5;
$border-color-light: #f0f0f0;
$table-border-color: $border-color;
$thead-border-color: rgba(170, 170, 170, .5);
$hr-border-color: $border-color;
$blockquote-border-color: rgb(0, 188, 242);
$blockquote-background-color: rgb(239, 246, 251);
$pre-background-color: rgba(238, 238, 238, .35);
$body-color: rgba(0, 0, 0, .85);
$body-background-color: rgb(249, 249, 249);
$main-background-color: rgb(255, 255, 255);
$search-border: rgba(0, 0, 0, .25);
$h-border-bottom: rgba(125, 134, 140, .2);
$h1-border-bottom: rgb(241, 139, 33);
$main-box-shadow: rgba(0, 0, 0, .1);
$white: #fff;
$black: #333;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $body-background-color;
  color: $body-color;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: $sans-font-family;
}

a, a:visited {
  text-decoration: none;
  color: $link-color;

  &:hover {
    color: $link-color-hover;
    text-decoration: underline;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: scroll;
  border: 1px solid $table-border-color;

  thead {
    border-bottom: 2px solid $thead-border-color;
  }

  td, th {
    text-align: left;
    padding: 5px 10px;
    border: 1px solid $table-border-color;
  }

  @media all and (max-width: $mobile-width) {
    display: block;
  }
}

blockquote {
  border-width: 0;
  border-left: 5px solid $blockquote-border-color;
  background-color: $blockquote-background-color;
  margin: 20px 0;
  padding: 10px 20px;

  .highlight {
    background-color: $white;
  }

  //Override bootstrap
  ol:last-child, p:last-child, ul:last-child {
    margin: inherit;
  }

}

pre {
  background-color: $pre-background-color;
}

hr {
  border: 0;
  border-top: 1px solid $hr-border-color;
}

code, code span {
  font-family: $mono-font-family;
  font-size: 14px;
}

p code, li code, table code {
  color: $code-color;
  background-color: $code-background-color;
  padding: 2px 4px;
}

a > code {
  color: $link-code-color;
}

// Make code in headers match the font size of the given header.
h1, h2, h3, h4, h5, h6 {
  border-bottom: solid 1px $h-border-bottom;

  code {
    color: $code-color;
    background-color: $code-background-color;
  }

  @media all and (min-width: $mobile-width) {
    .anchor {
      opacity: 0;
    }

    &:hover .anchor {
      opacity: 1;
    }
  }
}

h1 code {
  font-size: 35px;
}

h2 code {
  font-size: 23px;
}

h3 code {
  font-size: 18px;
}

h4 code {
  font-size: 15px;
}

h5 code {
  font-size: 12px;
}

h6 code {
  font-size: 10px;
}

.main {
  margin: auto;
  padding: 20px 40px;
  position: relative;
  width: auto;
  max-width: 900px;
  box-shadow: 0 3px 3px $main-box-shadow;
  background: $main-background-color;

  h1 {
    font-size: 40px;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: -1px;
    border-bottom: solid 2px $h1-border-bottom;
    padding-bottom: 10px;
  }

  p {
    margin: 20px 0;
    font-size: 16px;
    line-height: 22px;
  }

  ul, ol {
    margin: 20px 0;
  }

  li {
    font-size: 16px;
    line-height: 22px;

    > ul, > ol {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  img {
    max-width: calc(100% - 10px);
    max-height: 100vh;
    border: 1px solid $border-color-light;
    padding: 5px;
    margin: 5px;
  }

  footer {
    padding: 10px 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.header {
  background: $main-background-color;
  position: relative;
  width: 100%;
  padding: 0 25px;
  border-bottom: 1px solid $border-color;
  text-align: left;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;

  @media all and (max-width: $mobile-width) {
    height: auto;
  }

  img {
    position: absolute;
    height: 50px;
  }

  p {
    font-size: 20px;
    color: $black;
    display: inline-block;
    padding: 10px 0;
    padding-left: 55px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  ul {
    text-align: right;
    list-style-type: none;
    display: inline-block;
    margin: 12px 0;

    @media all and (max-width: $mobile-width) {
      display: none;
    }
  }

  @media all and (max-width: $mobile-width) {
    &.active {
      display: block;

      ul {
        display: block;
        text-align: left;
        padding: 0;
        width: 100%;
      }

      li {
        display: block;
        font-size: 16px;
        padding: 10px 0;
      }
    }
  }

  li {
    font-size: 14px;
    display: inline-block;
    line-height: 20px;
    margin: 0 10px;
  }

  input {
    box-sizing: content-box;
    border: 1px solid $search-border;
    border-radius: $border-radius;
    background-color: $white;
    -webkit-appearance: none;
    padding: 7px 11px 7px 28px;
    margin: -5px;
    font-size: 14px;
    width: 190px;
    background-image: url("<%= @items['/assets/images/icon_search.svg'].path %>");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 7px 8px;
  }

  .nav-toggle {
    display: none;

    @media all and (max-width: $mobile-width) {
      display: inline-block;
      position: absolute;
      top: 10px;
      right: 15px;
    }
  }

  // Override bootstrap
  .nav > li > a {
    padding: 0 10px;
    font-size: 16px;
  }

  // Override bootstrap
  .nav > li > a:focus, .nav > li > a:hover {
    text-decoration: underline;
    background-color: transparent;
  }

}

// Styles for breadcrumbs navigation
.breadcrumbs {
  font-size: 16px;
  white-space: nowrap;
  overflow-x: auto;
  padding: 0;

  .breadcrumb {
    text-overflow: ellipsis;
    display: inline-block;
    overflow-x: hidden;
    // Override bootstrap
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    border-radius: 0;

    &:not(:last-child)::after {
      content: "›\00a0";
    }

    &::after {
      padding: 0 4px 0 6px;
    }
  }

  // ToC styles
  + ul {
    padding: 20px;
    background: $toc-bg-color;
    border-bottom: 2px solid $toc-border;
    border-top: 2px solid $toc-border;

    li {
      padding: 4px 0;
      list-style: none;

      &::before {
        content: "›\00a0";
      }

      ul {
        padding-top: 5px;
      }
    }
  }
}

// Permalinks on header elements.
.anchor {
  display: inline-block;
  width: 1em;
  height: 1em;
  max-height: 25px;
  vertical-align: middle;
  background: url("<%= @items['/assets/images/icon_anchor.svg'].path %>") center center / contain no-repeat;

  &:hover {
    text-decoration: none;
  }
}

// Home page //

.landing {
  background-color: $landing-background;

  .landing-header {
    padding: 75px 35px 200px;
    background-color: $landing-header-background;
    text-align: center;
    color: $white;

    input {
      margin-top: 50px;
      border-radius: $border-radius;
      font-size: 20px;
      line-height: inherit;
    }

    img {
      width: 280px;
    }
  }

  h1 {
    font-size: 36px;
    font-weight: 300;
    margin-top: 20px;
    border-bottom: 0;

    a {
      color: $white;
      text-decoration: none;
    }
  }

  .docsearch {
    box-sizing: content-box;
    height: 35px;
    padding: 15px 15px 15px 40px;
    width: auto;
    border: 1px solid $search-border;
    background-image: url("<%= @items['/assets/images/icon_search.svg'].path %>");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 12px 23px;
    color: $black;

    @media all and (min-width: $mobile-width) {
      min-width: 300px;
    }
  }
}

.topics {
  text-align: center;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  top: -100px;
  max-width: 1100px;
  margin: auto;
  -webkit-padding-start: 0;

  li {
    display: inline-block;
    background-color: $white;
    border: 1px solid $topic-border;
    border-radius: $border-radius;
    margin: 15px;
    flex: 1 0 300px;
    min-width: 300px;

    @media all and (max-width: $mobile-width) {
      width: 100%;
      min-width: auto;
      flex: initial;
      margin: 20px;
    }

    a p, a:visited p {
      color: $black;
      vertical-align: bottom;
    }

    .wrapper {
      padding: 0 35px 40px;

      @media all and (max-width: $mobile-width) {
        padding: 0 15px 15px;
      }
    }

    h2 {
      text-align: center;
      font-size: 21px;
      font-weight: 400;
    }

    a, a:visited {
      text-decoration: none;

      h2 {
        height: 70px;
        margin-bottom: 25px;

        @media all and (max-width: $mobile-width) {
          height: auto;
        }
      }
    }
  }
}

.circle {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  line-height: 2.35;
  color: $white;
  position: relative;
  margin: auto;
  top: -28px;
}

.topic-ce {
  .circle {
    background-color: $topic-ce-circle-color;
  }

  h2 {
    color: $topic-ce-header-color;
  }
}


.topic-ee {
  .circle {
    background-color: $topic-ee-circle-color;
  }

  h2 {
    color: $topic-ee-header-color;
  }
}

.topic-omnibus {
  .circle {
    background-color: $topic-omnibus-circle-color;
  }

  h2 {
    color: $topic-omnibus-header-color;
  }
}

.topic-runner {
  .circle {
    background-color: $topic-runner-circle-color;
  }

  h2 {
    color: $topic-runner-header-color;
  }
}
